<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Reflection 1</a></li>
	        		<li><a href="/cv">Reflection 2</a></li>
				<li><a href="/research">Reflection 3</a></li>
				<li><a href="/life">Reflection 4</a></li>
	        		<li><a href="/blog">Action Plan</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:buiquangman2001@gmail.com">email</a></li>
	        		<li><a href="https://github.com/s3891749">github.com/s3891749</a></li>
				</ul>
			</footer>
		</body>
	</html>
